.table_header {
    display: grid;
    background-color: coral;
    margin: 10px auto;
    padding: 1rem 1.3rem;
    grid-template-columns: 1fr 9fr 2fr;
    color:white;
    font-size: 1rem;
}

.table_body {
    background-color:whitesmoke;
    margin: 5px auto;
    justify-content: space-between;
    padding: 1rem 1.3rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.prediction{
    grid-area: prediction;
}

.date {
    grid-area: date;
}

.table_container { 
    max-width:90%; 
    margin: 10px auto;
}

.fixtures {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}

.hometeam, .awayteam {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* .teamlogo {
    margin:0;
} */

.matchday {
    display:flex;
    justify-content: center;
    align-items: center;
}

.predictions {
    font-weight: bold;
    padding:7px 10px;
    box-sizing:border-box;
    font-size: 1.2rem;
}

@media only screen and (max-width: 640px) {
    
    .fixtures {
        grid-area: fixtures;
        grid-template-columns: none;
        padding: 10px;
    } 

    .table_body {
        border-radius: 10px;
        grid-template-columns: 20px repeat(5, 1fr);
        grid-template-areas: 
        "index date date date date date"
        "index fixtures fixtures fixtures fixtures fixtures";
    }
    .index {
        grid-area: index;
        justify-self: center;
        font-size: 1.2rem;

    }
    .matchday {
        grid-area: date;
    }

    .hometeam {
        display: flex;
        justify-content: space-between;

    }
    .awayteam {
        display: flex;
        justify-content: space-between;
    }
    .awayteam .teamlogo {
        order: 1;
    }
    .awayteam .teamname {
        order: 2;
    }
    .awayteam .predictions {
        order: 3;
    }
}




